*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    margin:0 auto;
}
.work-sens{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
.banner1{
    max-width: 1600px;
    position: relative;
}
.img1{
    width:100%;
    display: block;
}
.text{
    position: absolute;
    top:50%;
    right:12%;
    transform:translateY(-50%);
    width:525px;
    text-align: right;
    

}
.text h2{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    display: block;
    margin: 0;
}
.text p{
    margin-top: 24px;
    font-size: 16px;
    line-height: 26px;
    color:#444343;
    /* max-width: 494px; */
}
.button{
    padding: 21px 25px 20px 26px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    background-color: #F15B22;
    border: none;
    margin-top: 32px;
    border-radius: 5%;
    cursor:pointer;
}

